<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>homepage</title>
</head>
<body>
        {{>header}}
        <section class="home">
        {{>about}}
        {{>footer}}
        </section>    

   {{>script}}
</body>
</html>