<!DOCTYPE html>
<html lang="en" >
<head>
  {{>links}}
  <title>Survey-Hut</title>
</head>
<body>
<!-- partial:index.partial.html -->
 {{>header}}
<section class="home">
 {{!-- {{>about}} --}}
 {{!-- login_page --}}
 {{!-- {{>login}} --}}
 {{>users}}
 {{>footer}}
</section>

<!-- partial -->
{{>script}}

</body>
</html>
