<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Login/Register</title>
</head>
<body>
    {{>header}}
    <section class="home">
    {{>login}}
    {{>footer}}
    </section>
    {{>script}}
</body>
</html>