 <div class="text">Welcome to Survey Hut</div>
  <div class="container1 homepage">
    <div class="about-section-homepage">
      <h2 id="heading">About the site</h2>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad debitis perferendis amet, maxime corporis aliquam, deserunt ratione est dolorum tempora a magnam libero assumenda vel esse, nulla quod voluptas facilis laudantium.</p>
      <input type="button" class="button" value="Create">
    </div>
   
    <!-- <img src="sideimg.jpg" class="sideimg" alt=""> -->
  </div>