<footer class="footer-distributed">

  <div class="footer-left">

    <!-- <h3>Company<span>logo</span></h3> -->

    <p class="footer-links">
      <a href="/" class="link-1">Home</a>
      
      <a href="#">Blog</a>
    
      <a href="#">Pricing</a>
    
      <a href="#">About</a>
      
      <a href="#">Faq</a>
      
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Survey-Hut © 2023</p>
  </div>

  <div class="footer-center">

    <div>
      <i class='bx bx-map' ></i>
      <p><span>Hostel No. 03</span> Manit, Bhopal</p>
    </div>
    <div id="mail">
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:virendara2024@gmail.com">virendara2024@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
        The survey hut provides you to create and manage any survey according to your requirement.
        For any query contact on given link below.
    </p>

    <div class="footer-icons">

      <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
      <a href="https://instagram.com/being_virendara?igshid=NTc4MTIwNjQ2YQ==" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/virendara-verma-81b17a244/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/Virendara1224" target="_blank"><i class="fab fa-github"></i></a>

    </div>
      
  </div>

</footer>